@font-face {
    font-family: ETbb-Regular;
    src: url("https://github.com/lovetheland/shimmer/raw/main/dist/ETbb-Regular.otf") format("opentype");
}
@font-face {
    font-family: ETbb-Bold;
    src: url("https://github.com/lovetheland/shimmer/raw/main/dist/ETbb-Bold.otf") format("opentype");
}
@font-face {
    font-family: ETbb-Italic;
    src: url("https://github.com/lovetheland/shimmer/raw/main/dist/ETbb-Italic.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 999999;
    font-size: 12pt;
    font-family: 'ETbb-Regular';
    line-height: 14pt;
    color: white;
}
body span {
//      background-color: white;
    }

i {
    font-family: ETbb-Italic;
}

div {
  margin: 11vh;
}

canvas {
  max-width: 100vw;
  max-height: 100vh;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  scale: 1;
}

p {
  
    margin-left: 34px;
    font-size: 12pt;
    max-width: 40vw;
  
  }

p span {
//      background-color: white;
    }

h1 {
 //   font-size: 24pt;
 //   font-weight: bold;
  }

h1 span {
//      background-color: white;
    }

a {
      color: white !important;
    text-decoration: underline !important;
    }

summary span {
//      background-color: white;
    }

details > summary {
    list-style-type: none;
  
}

details > summary::-webkit-details-marker {
    display: none;
  
}

details > summary::before {
    content: '⸺ ';
 //         background-color: white;
}
